<!DOCTYPE html>
<html>
  <head>
    <title>CSRF Demo</title>
  </head>
  <body>
    <h1>Welcome to the CSRF demo!</h1>
    <p>Please choose an option:</p>
    <ul>
      <li><a href="/home/unprotected">Unprotected page</a></li>
      <li><a href="/home/protected">Protected page</a></li>
    </ul>
  </body>
</html>
