<!DOCTYPE html>
<html>
  <head>
    <script src="/src/public/unprotected.js"></script>
    <title>Unprotected Page</title>
  </head>
  <body>
    <h1>Unprotected Page</h1>
    <form action="/update-email" method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" />
      <br /><br />
      <input type="submit" value="Update Email" />
    </form>
  </body>
</html>
