<!-- /views/vulnerable.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <script src="/vulnerable.js"></script>
    <title>Vulnerable Page</title>
  </head>
  <body>
    <h1>Protected Page</h1>
    <div id="app"></div>
    <form id="update-email-form">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <br /><br />
      <input type="submit" value="Update Email" />
    </form>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </body>
</html>
